/* Content */
#content {
    margin: 100px 50px;
}

.content__container {
    width: 100%;
}

.content__container img {
    display: block;
    margin: 0 auto;
    height: 500px;
}

.image__footer {
    text-align: center;
    margin: 10px 0 20px 0;
}

/* End: Content */