body {
    background-image: url('../images/slide5.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    width: 500px;
    /* height: 500px; */
    border-radius: 10px;
}

#formRegister,
#formLogin {
    margin: 20px;
}